{% extends 'about.html' %}

{% block title %}Tomorrow{% endblock %}

{% block content %}
	<div>
		<table class="prices-el-table" id="priceTableTomorrow" onload="updatePricelistTomorrow()">
			<caption class="prices-el-table-head" style="font-size: 24px" id="pricesTomorrow">Date</caption>
			<thead>	
				<tr>
					<th width="100px" class="prices-el-table-head">Time inteval </th>
					<th width="120px" class="prices-el-table-head">Prices øre/kWh</th>
					<th width="120px"class="prices-el-table-head">Request pumping hours</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="prices-el-table-column" id="time1">00-01</td>
					<td class="prices-el-table-column" id="price1">00,00</td>
					<td>
						<label class="switch">
							<input type="checkbox" id="check1" oninput="updateList(this.id)">
							<span class="slider"></span>
						</label>
					</td>
				</tr>
				<tr>
					<td class="prices-el-table-column" id="time2">01-02</td>
					<td class="prices-el-table-column" id="price2">00,00</td>
					<td>
						<label class="switch">
							<input type="checkbox" id="check2" oninput="updateList(this.id)">
							<span class="slider"></span>
						</label>
					</td>
				</tr>
				<tr>
					<td class="prices-el-table-column" id="time3">02-03</td>
					<td class="prices-el-table-column" id="price3">00,00</td>
					<td>
						<label class="switch">
							<input type="checkbox" id="check3" oninput="updateList(this.id)">
							<span class="slider"></span>
						</label>
					</td>
				</tr>
				<tr>
					<td class="prices-el-table-column" id="time4">03-04</td>
					<td class="prices-el-table-column" id="price4">00,00</td>
					<td>
						<label class="switch">
							<input type="checkbox" id="check4" oninput="updateList(this.id)">
							<span class="slider"></span>
						</label>
					</td>
				</tr>
				<tr>
					<td class="prices-el-table-column" id="time5">04-05</td>
					<td class="prices-el-table-column" id="price5">00,00</td>
					<td>
						<label class="switch">
							<input type="checkbox" id="check5" oninput="updateList(this.id)">
							<span class="slider"></span>
						</label>
					</td>
				</tr>
				<tr>
					<td class="prices-el-table-column" id="time6">05-06</td>
					<td class="prices-el-table-column" id="price6">00,00</td>
					<td>
						<label class="switch">
							<input type="checkbox" id="check6" oninput="updateList(this.id)">
							<span class="slider"></span>
						</label>
					</td>
				</tr>
				<tr>
					<td class="prices-el-table-column" id="time7">06-07</td>
					<td class="prices-el-table-column" id="price7">00,00</td>
					<td>
						<label class="switch">
							<input type="checkbox" id="check7" oninput="updateList(this.id)">
							<span class="slider"></span>
						</label>
					</td>
				</tr>
				<tr>
					<td class="prices-el-table-column" id="time8">07-08</td>
					<td class="prices-el-table-column" id="price8">00,00</td>
					<td>
						<label class="switch">
							<input type="checkbox" id="check8" oninput="updateList(this.id)">
							<span class="slider"></span>
						</label>
					</td>
				</tr>
				<tr>
					<td class="prices-el-table-column" id="time9">08-09</td>
					<td class="prices-el-table-column" id="price9">00,00</td>
					<td>
						<label class="switch">
							<input type="checkbox" id="check9" oninput="updateList(this.id)">
							<span class="slider"></span>
						</label>
					</td>
				</tr>
				<tr>
					<td class="prices-el-table-column" id="time10">09-10</td>
					<td class="prices-el-table-column" id="price10">00,00</td>
					<td>
						<label class="switch">
							<input type="checkbox" id="check10" oninput="updateList(this.id)">
							<span class="slider"></span>
						</label>
					</td>
				</tr>
				<tr>
					<td class="prices-el-table-column" id="time11">10-11</td>
					<td class="prices-el-table-column" id="price11">00,00</td>
					<td>
						<label class="switch">
							<input type="checkbox" id="check11" oninput="updateList(this.id)">
							<span class="slider"></span>
						</label>
					</td>
				</tr>
				<tr>
					<td class="prices-el-table-column" id="time12">11-12</td>
					<td class="prices-el-table-column" id="price12">00,00</td>
					<td>
						<label class="switch">
							<input type="checkbox" id="check12" oninput="updateList(this.id)">
							<span class="slider"></span>
						</label>
					</td>
				</tr>
				<tr>
					<td class="prices-el-table-column" id="time13">12-13</td>
					<td class="prices-el-table-column" id="price13">00,00</td>
					<td>
						<label class="switch">
							<input type="checkbox" id="check13" oninput="updateList(this.id)">
							<span class="slider"></span>
						</label>
					</td>
				</tr>
				<tr>
					<td class="prices-el-table-column" id="time14">13-14</td>
					<td class="prices-el-table-column" id="price14">00,00</td>
					<td>
						<label class="switch">
							<input type="checkbox" id="check14" oninput="updateList(this.id)">
							<span class="slider"></span>
						</label>
					</td>
				</tr>
				<tr>
					<td class="prices-el-table-column" id="time15">14-15</td>
					<td class="prices-el-table-column" id="price15">00,00</td>
					<td>
						<label class="switch">
							<input type="checkbox" id="check15" oninput="updateList(this.id)">
							<span class="slider"></span>
						</label>
					</td>
				</tr>
				<tr>
					<td class="prices-el-table-column" id="time16">15-16</td>
					<td class="prices-el-table-column" id="price16">00,00</td>
					<td>
						<label class="switch">
							<input type="checkbox" id="check16" oninput="updateList(this.id)">
							<span class="slider"></span>
						</label>
					</td>
				</tr>
				<tr>
					<td class="prices-el-table-column" id="time17">16-17</td>
					<td class="prices-el-table-column" id="price17">00,00</td>
					<td>
						<label class="switch">
							<input type="checkbox" id="check17" oninput="updateList(this.id)">
							<span class="slider"></span>
						</label>
					</td>
				</tr>
				<tr>
					<td class="prices-el-table-column" id="time18">17-18</td>
					<td class="prices-el-table-column" id="price18">00,00</td>
					<td>
						<label class="switch">
							<input type="checkbox" id="check18" oninput="updateList(this.id)">
							<span class="slider"></span>
						</label>
					</td>
				</tr>
				<tr>
					<td class="prices-el-table-column" id="time19">18-19</td>
					<td class="prices-el-table-column" id="price19">00,00</td>
					<td>
						<label class="switch">
							<input type="checkbox" id="check19" oninput="updateList(this.id)">
							<span class="slider"></span>
						</label>
					</td>
				</tr>
				<tr>
					<td class="prices-el-table-column" id="time20">19-20</td>
					<td class="prices-el-table-column" id="price20">00,00</td>
					<td>
						<label class="switch">
							<input type="checkbox" id="check20" oninput="updateList(this.id)">
							<span class="slider"></span>
						</label>
					</td>
				</tr>
				<tr>
					<td class="prices-el-table-column" id="time21">20-21</td>
					<td class="prices-el-table-column" id="price21">00,00</td>
					<td>
						<label class="switch">
							<input type="checkbox" id="check21" oninput="updateList(this.id)">
							<span class="slider"></span>
						</label>
					</td>
				</tr>
				<tr>
					<td class="prices-el-table-column" id="time22">21-22</td>
					<td class="prices-el-table-column" id="price22">00,00</td>
					<td>
						<label class="switch">
							<input type="checkbox" id="check22" oninput="updateList(this.id)">
							<span class="slider"></span>
						</label>
					</td>
				</tr>
				<tr>
					<td class="prices-el-table-column" id="time23">22-23</td>
					<td class="prices-el-table-column" id="price23">00,00</td>
					<td>
						<label class="switch">
							<input type="checkbox" id="check23" oninput="updateList(this.id)">
							<span class="slider"></span>
						</label>
					</td>
				</tr>
				<tr>
					<td class="prices-el-table-column" id="time24">23-00</td>
					<td class="prices-el-table-column" id="price24">00,00</td>
					<td>
						<label class="switch">
							<input type="checkbox" id="check24" oninput="updateList(this.id)">
							<span class="slider"></span>
						</label>
					</td>
				</tr>
			</tbody>
		</table>
		<div> 
			<button class="button button1" id="send_botton" onclick="publishListTomorrow()"> 
				Send pumping hours to Vandværk
			</button>
			<p id="send_bottom_time"></p>
		</div>
		<script>
			const current_date = new Date();
			let tomorrow = new Date();
			tomorrow.setDate(current_date.getDate() + 1);
			document.getElementById("pricesTomorrow").innerHTML = "Date: " + tomorrow.toDateString();

			function publishListTomorrow() {
				document.getElementById("send_bottom_time").innerHTML = "Last publish:" + current_date.getHours().toString().padStart(2,'0') + ":" + current_date.getMinutes().toString().padStart(2,'0');
				
				var onoffarray = Array.from(pump_map_tomorrow.values());

				var msg = onoffarray.toString();

				fetch('/api/publish_list_tomorrow', {
					method: 'POST',
					headers: {
						'Content-Type': 'application/json'
					},
					body: JSON.stringify({ message: msg })
				})
				.then(response => response.json())
				.then(data => {
					console.log(data.status);
				})
				.catch(error => {
					console.error('Error publishing message:', error);
				});
			}
		</script>
		<script>
			const pump_map_tomorrow = new Map();
			for (let i = 1; i < 25; i++) {
				let check_str = "check" + i;
				pump_map_tomorrow.set(document.getElementById(check_str), 0);
			}
			
			function updateList(clicked_id) {
				var check_list_tomorrow = document.getElementById(clicked_id);
				if (pump_map_tomorrow.get(check_list_tomorrow) == 0) {
					pump_map_tomorrow.set(check_list_tomorrow, 1);
				} else if (pump_map_tomorrow.get(check_list_tomorrow) == 1){
					pump_map_tomorrow.set(check_list_tomorrow, 0);
				}
			}
			
			function updatePricelistTomorrow(new_pricelist) {
				//const tomorrow_date = current_date.getFullYear().toString()+(current_date.getMouth()+1).toString()+current_date.getDate().toString();
				//const table_body = document.querySelector('#priceTableTomorrow tbody');
				//table_body.innerHTML = '';
				for (const [idx, price] of new_pricelist.entries()) {
					//const row = document.createElement('tr');
					//const time_interval = (1*idx).toString().padStart(2,'0') + "-" + (1+1*idx).toString().padStart(2,'0');
					//let price_id = "price" + (idx+1).toString();
					//let check_id = "check"+(idx+1).toString();
					//pump_map_tomorrow.set(check_id, 0);
					//row.innerHTML = '<td class="prices-el-table-column">'+time_interval+'</td><td class="prices-el-table-column" id="price'+(idx+1)+'">'+price+'</td><td><label class="switch"><input type="checkbox" id="'+check_id+'" oninput="updateList(this.id)"><span class="slider"></span></label></td>';
					//table_body.appendChild(row);
					let price_id = 'price'+(idx+1);
					document.getElementById(price_id).innerHTML = price;
				}
			}

			setInterval(function(click_id) {
				fetch('/api/get_prices_tomorrow')
					.then(response => response.json())
					.then(data => {
						//console.log(data)
						//updateDateTomorrow(data.date);
						updatePricelistTomorrow(data.prices);
					})
					.catch(error => {
						console.error('Error fetching data:', error);
					});
			}, 600000);

			window.onload = updatePricelistTomorrow({{ pricelist }});
		</script>
	</div>
{% endblock %}