<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Øster Bjerregrav Vandværk</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">    
</head>
<body>
	<div class="top-bar">
		<p> Øster Bjerregrav Vandværk </p>
        <button class="login-button">Login</button>
    </div>
	<div class="content-container">
		<div class="content">
			<div id="price-table">
				<div class="prices-el-table-title"> I denne tabel kan priserne for i dag aflæses</div>
				<table class="prices-el-table"> 
					<thead>	
						<tr>
							<th width="120px" class="prices-el-table-head" id="dateandtime">Timer </th>
							<th width="100px" class="prices-el-table-head">Pris i øre/kWh</th>
							<th width="100px"class="prices-el-table-head">Ønsk pumpetider</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="prices-el-table-column" id="time1">00-01</td>
							<td class="prices-el-table-column" id="price1">00,00</td>
							<td>
								<label class="switch">
									<input type="checkbox" id="check1" oninput="updateList(this.id)">
									<span class="slider"></span>
								</label>
							</td>
						</tr>
						<tr>
							<td class="prices-el-table-column" id="time2">01-02</td>
							<td class="prices-el-table-column" id="price2">00,00</td>
							<td>
								<label class="switch">
									<input type="checkbox" id="check2" oninput="updateList(this.id)">
									<span class="slider"></span>
								</label>
							</td>
						</tr>
						<tr>
							<td class="prices-el-table-column" id="time3">02-03</td>
							<td class="prices-el-table-column" id="price3">00,00</td>
							<td>
								<label class="switch">
									<input type="checkbox" id="check3" oninput="updateList(this.id)">
									<span class="slider"></span>
								</label>
							</td>
						</tr>
						<tr>
							<td class="prices-el-table-column" id="time4">03-04</td>
							<td class="prices-el-table-column" id="price4">00,00</td>
							<td>
								<label class="switch">
									<input type="checkbox" id="check4" oninput="updateList(this.id)">
									<span class="slider"></span>
								</label>
							</td>
						</tr>
						<tr>
							<td class="prices-el-table-column" id="time5">04-05</td>
							<td class="prices-el-table-column" id="price5">00,00</td>
							<td>
								<label class="switch">
									<input type="checkbox" id="check5" oninput="updateList(this.id)">
									<span class="slider"></span>
								</label>
							</td>
						</tr>
						<tr>
							<td class="prices-el-table-column" id="time6">05-06</td>
							<td class="prices-el-table-column" id="price6">00,00</td>
							<td>
								<label class="switch">
									<input type="checkbox" id="check6" oninput="updateList(this.id)">
									<span class="slider"></span>
								</label>
							</td>
						</tr>
						<tr>
							<td class="prices-el-table-column" id="time7">06-07</td>
							<td class="prices-el-table-column" id="price7">00,00</td>
							<td>
								<label class="switch">
									<input type="checkbox" id="check7" oninput="updateList(this.id)">
									<span class="slider"></span>
								</label>
							</td>
						</tr>
						<tr>
							<td class="prices-el-table-column" id="time8">07-08</td>
							<td class="prices-el-table-column" id="price8">00,00</td>
							<td>
								<label class="switch">
									<input type="checkbox" id="check8" oninput="updateList(this.id)">
									<span class="slider"></span>
								</label>
							</td>
						</tr>
						<tr>
							<td class="prices-el-table-column" id="time9">08-09</td>
							<td class="prices-el-table-column" id="price9">00,00</td>
							<td>
								<label class="switch">
									<input type="checkbox" id="check9" oninput="updateList(this.id)">
									<span class="slider"></span>
								</label>
							</td>
						</tr>
						<tr>
							<td class="prices-el-table-column" id="time10">09-10</td>
							<td class="prices-el-table-column" id="price10">00,00</td>
							<td>
								<label class="switch">
									<input type="checkbox" id="check10" oninput="updateList(this.id)">
									<span class="slider"></span>
								</label>
							</td>
						</tr>
						<tr>
							<td class="prices-el-table-column" id="time11">10-11</td>
							<td class="prices-el-table-column" id="price11">00,00</td>
							<td>
								<label class="switch">
									<input type="checkbox" id="check11" oninput="updateList(this.id)">
									<span class="slider"></span>
								</label>
							</td>
						</tr>
						<tr>
							<td class="prices-el-table-column" id="time12">11-12</td>
							<td class="prices-el-table-column" id="price12">00,00</td>
							<td>
								<label class="switch">
									<input type="checkbox" id="check12" oninput="updateList(this.id)">
									<span class="slider"></span>
								</label>
							</td>
						</tr>
						<tr>
							<td class="prices-el-table-column" id="time13">12-13</td>
							<td class="prices-el-table-column" id="price13">00,00</td>
							<td>
								<label class="switch">
									<input type="checkbox" id="check13" oninput="updateList(this.id)">
									<span class="slider"></span>
								</label>
							</td>
						</tr>
						<tr>
							<td class="prices-el-table-column" id="time14">13-14</td>
							<td class="prices-el-table-column" id="price14">00,00</td>
							<td>
								<label class="switch">
									<input type="checkbox" id="check14" oninput="updateList(this.id)">
									<span class="slider"></span>
								</label>
							</td>
						</tr>
						<tr>
							<td class="prices-el-table-column" id="time15">14-15</td>
							<td class="prices-el-table-column" id="price15">00,00</td>
							<td>
								<label class="switch">
									<input type="checkbox" id="check15" oninput="updateList(this.id)">
									<span class="slider"></span>
								</label>
							</td>
						</tr>
						<tr>
							<td class="prices-el-table-column" id="time16">15-16</td>
							<td class="prices-el-table-column" id="price16">00,00</td>
							<td>
								<label class="switch">
									<input type="checkbox" id="check16" oninput="updateList(this.id)">
									<span class="slider"></span>
								</label>
							</td>
						</tr>
						<tr>
							<td class="prices-el-table-column" id="time17">16-17</td>
							<td class="prices-el-table-column" id="price17">00,00</td>
							<td>
								<label class="switch">
									<input type="checkbox" id="check17" oninput="updateList(this.id)">
									<span class="slider"></span>
								</label>
							</td>
						</tr>
						<tr>
							<td class="prices-el-table-column" id="time18">17-18</td>
							<td class="prices-el-table-column" id="price18">00,00</td>
							<td>
								<label class="switch">
									<input type="checkbox" id="check18" oninput="updateList(this.id)">
									<span class="slider"></span>
								</label>
							</td>
						</tr>
						<tr>
							<td class="prices-el-table-column" id="time19">18-19</td>
							<td class="prices-el-table-column" id="price19">00,00</td>
							<td>
								<label class="switch">
									<input type="checkbox" id="check19" oninput="updateList(this.id)">
									<span class="slider"></span>
								</label>
							</td>
						</tr>
						<tr>
							<td class="prices-el-table-column" id="time20">19-20</td>
							<td class="prices-el-table-column" id="price20">00,00</td>
							<td>
								<label class="switch">
									<input type="checkbox" id="check20" oninput="updateList(this.id)">
									<span class="slider"></span>
								</label>
							</td>
						</tr>
						<tr>
							<td class="prices-el-table-column" id="time21">20-21</td>
							<td class="prices-el-table-column" id="price21">00,00</td>
							<td>
								<label class="switch">
									<input type="checkbox" id="check21" oninput="updateList(this.id)">
									<span class="slider"></span>
								</label>
							</td>
						</tr>
						<tr>
							<td class="prices-el-table-column" id="time22">21-22</td>
							<td class="prices-el-table-column" id="price22">00,00</td>
							<td>
								<label class="switch">
									<input type="checkbox" id="check22" oninput="updateList(this.id)">
									<span class="slider"></span>
								</label>
							</td>
						</tr>
						<tr>
							<td class="prices-el-table-column" id="time23">22-23</td>
							<td class="prices-el-table-column" id="price23">00,00</td>
							<td>
								<label class="switch">
									<input type="checkbox" id="check23" oninput="updateList(this.id)">
									<span class="slider"></span>
								</label>
							</td>
						</tr>
						<tr>
							<td class="prices-el-table-column" id="time24">23-00</td>
							<td class="prices-el-table-column" id="price24">00,00</td>
							<td>
								<label class="switch">
									<input type="checkbox" id="check24" oninput="updateList(this.id)">
									<span class="slider"></span>
								</label>
							</td>
						</tr>
					</tbody>
				</table>
				<div> 
					<button class="button button1" id="send_botton" onclick="publishList()"> 
					</botton>
						Send pumping hours to Vandværk
				</div>
			</div>
			<script>
				const pump_map = new Map();
				
				pump_map.set(document.getElementById("check1"), 0);
				pump_map.set(document.getElementById("check2"), 0);
				pump_map.set(document.getElementById("check3"), 0);
				pump_map.set(document.getElementById("check4"), 0);
				pump_map.set(document.getElementById("check5"), 0);
				pump_map.set(document.getElementById("check6"), 0);
				pump_map.set(document.getElementById("check7"), 0);
				pump_map.set(document.getElementById("check8"), 0);
				pump_map.set(document.getElementById("check9"), 0);
				pump_map.set(document.getElementById("check10"), 0);
				pump_map.set(document.getElementById("check11"), 0);
				pump_map.set(document.getElementById("check12"), 0);
				pump_map.set(document.getElementById("check13"), 0);
				pump_map.set(document.getElementById("check14"), 0);
				pump_map.set(document.getElementById("check15"), 0);
				pump_map.set(document.getElementById("check16"), 0);
				pump_map.set(document.getElementById("check17"), 0);
				pump_map.set(document.getElementById("check18"), 0);
				pump_map.set(document.getElementById("check19"), 0);
				pump_map.set(document.getElementById("check20"), 0);
				pump_map.set(document.getElementById("check21"), 0);
				pump_map.set(document.getElementById("check22"), 0);
				pump_map.set(document.getElementById("check23"), 0);
				pump_map.set(document.getElementById("check24"), 0);
				
				function updateList(clicked_id) {
					var check_list = document.getElementById(clicked_id);
					
					if (pump_map.get(check_list) == 0) {
						pump_map.set(check_list, 1);
					} else {
						pump_map.set(check_list, 0);
					}
				}
				function publishList() {
					//var msg = document.getElementById(clicked_id).innerHTML;
					var onoffarray = Array.from(pump_map.values());
					var msg = onoffarray.toString();
					
					fetch('/api/publish_list', {
						method: 'POST',
						headers: {
							'Content-Type': 'application/json'
						},
						body: JSON.stringify({ message: msg })
					})
					.then(response => response.json())
					.then(data => {
						console.log(data.status);
					})
					.catch(error => {
						console.error('Error publishing message:', error);
					});
				}
			</script>
			<script>
				const current_date = new Date().toDateString();
				document.getElementById("dateandtime").innerHTML = "Timer for " + current_date;
				
				function updatePrices(prices) {
					for (const price in prices) {
						let label = "price".concat("", price.toString());
						document.getElementById(label).innerHTML = prices[price];
					}
				}

				// Fetch data from server
				setInterval(function(click_id) {
					fetch('/api/prices')
						.then(response => response.json())
						.then(data => {
							updateLevel(data.prices);
						})
						.catch(error => {
							console.error('Error fetching data:', error);
						});
				}, 30000); // Update once a day
			</script>
		</div>
			<div class="content">
			<p>
			Current water level
			</p>
			<div class="water-container">
				<div class="liquid" id="liquid" style="height: {{ liquid_level }}%"></div>
				<div class="level"></div>
			</div>
			<br>
			<span id="levelValue">0%</span>
			<br>
			<p id="status" class="button-status">STANDBY</p>
			<p>
				<button class="button" id="pump-start" onclick="publishMessage(this.id)">Begin pump</button>
			</p>
			<p>
				<button class="button button1" id="pump-stop" onclick="publishMessage(this.id)">Stop pump</button>
			</p>
			
		
			<script>
				function updateLevel(level) {
					var liquid = document.getElementById("liquid");
					var levelIndicator = document.querySelector(".level");

					liquid.style.height = level + "%";
					levelIndicator.style.bottom = level + "%";
					
					document.getElementById("levelValue").innerHTML = level + "%";
				}

				// Fetch data from server
				setInterval(function(click_id) {
					fetch('/api/liquid-level')
						.then(response => response.json())
						.then(data => {
							updateLevel(data.level);
						})
						.catch(error => {
							console.error('Error fetching data:', error);
						});
				}, 1000); // Update every second
			</script>
			<script>
				function publishMessage(clicked_id) {
					if (clicked_id == "pump-start") {
						var msg = 'ON'
						document.getElementById("status").innerHTML = "PUMP ON";
					} else {
						var msg = 'OFF'
						document.getElementById("status").innerHTML = "STANDBY"
					}
					
					
					fetch('/api/publish', {
						method: 'POST',
						headers: {
							'Content-Type': 'application/json'
						},
						body: JSON.stringify({ message: msg })
					})
					.then(response => response.json())
					.then(data => {
						console.log(data.status);
					})
					.catch(error => {
						console.error('Error publishing message:', error);
					});
				}
			</script>
		</div>
	</div>
	<div class="bottom-bar">
		<p>Øster Bjerregrav Vandværk </p>
	</div>
</body>
</html>