<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Øster Bjerregrav Vandværk</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">    
</head>
<body>
	<div class="top-bar">
		
		<p> Øster Bjerregrav Vandværk </p>
        <button class="login-button">Login</button>
    </div>
	<div>
		Velkommen til Øster Bjerregrav Vandværk prototype
	</div>
	<br>
	<div class="content-container">
		<div class="content">
			<div class="water-container">
				<div class="liquid" id="liquid" style="height: {{ liquid_level }}%"></div>
				<div class="level"></div>
			</div>
			<div class="input-container">
				<input type="range" min="0" max="100" value="0" id="levelRange" oninput="updateLevel()">
			</div>
			<br>
			<span id="levelValue">0%</span>
		
			<script>
				function updateLevel(level) {
					var liquid = document.getElementById("liquid");
					var levelIndicator = document.querySelector(".level");

					liquid.style.height = level + "%";
					levelIndicator.style.bottom = level + "%";
				}

				// Fetch data from server
				setInterval(function() {
					fetch('/api/liquid-level')
						.then(response => response.json())
						.then(data => {
							updateLevel(data.level);
						})
						.catch(error => {
							console.error('Error fetching data:', error);
						});
				}, 1000); // Update every second
			</script>
		</div>
	</div>
</body>
</html>